/***** RESET CSS STYLES *****/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
acronym,
address,
big,
cite,
code,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
  font-style: italic;
  margin-left: 30px;
  border-left: 1px solid #ccc;
  padding-left: 12px;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
/**** DEFAULT LINKS ****/
/**** DEFAULT IMAGES AS LINKS ****/
a img,
a:link img,
a:visited img,
a:link:active img,
a:visited:active img,
a:hover img {
  text-decoration: none;
  border: 0;
}
/**** CONTAINER ****/
body {
  text-align: center;
  /*Hack for centering #container in IE6 */

  background-color: #444;
  font-family: Verdana, Arial;
  font-size: 10pt;
  margin: 0;
  padding: 0px;
}
#container {
  width: 950px;
  margin: 0 auto;
  text-align: left;
  background-color: #EEE;
  -webkit-box-shadow: 0px 0px 60px #000000;
  -moz-box-shadow: 0px 0px 60px #000000;
  box-shadow: 0px 0px 60px #000000;
}
/**** HEADER ****/
#header {
  height: 330px;
  position: relative;
}
#header .header_social {
  position: absolute;
  bottom: 50px;
  right: 25px;
  width: 220px;
  text-align: right;
}
#header .header_social img {
  margin-left: 15px;
}
/***** TOP LINKS *****/
#header ul.top_links {
  list-style: none;
  height: 22px;
  background: url(../images/bg_top_links.jpg) left repeat-x;
  text-transform: uppercase;
  font-size: 9pt;
  padding: 8px 30px 0px 0px;
  text-align: right;
}
#header ul.top_links li {
  display: inline;
  margin-left: 15px;
}
#header ul.top_links li a,
#header ul.top_links li a:link,
#header ul.top_links li a:active#header ul.top_links li a:visited {
  color: #fff;
  text-decoration: none;
}
#header ul.top_links li a:hover {
  text-decoration: underline;
}
/**** NAVIGATION MENU ****/
ul.nav {
  list-style: none;
  height: 27px;
  background: url(../images/bg_nav.jpg) left repeat-x;
  text-transform: uppercase;
  padding: 4px 0px 0px 25px;
  font-size: 11pt;
  z-index: 15;
}
ul.nav li {
  display: inline;
  margin-right: 18px;
  z-index: 15;
}
ul.nav li a,
ul.nav li a:link,
ul.nav li a:active,
ul.nav li a:visited {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  height: 27px;
}
ul.nav li a:hover {
  text-decoration: underline;
}
/** dropdown **/
/*** NAVIGATION MENU WITH DROP DOWN ***/
ul.nav ul {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  background: #8b3a34 url(../images/bg_dropdown.jpg) bottom repeat-x;
  width: 240px;
  z-index: 15;
}
ul.nav li ul li {
  background-color: #8b3a34;
  width: 240px;
  height: 28px;
  z-index: 15;
}
ul.nav li {
  float: left;
  position: relative;
}
/* style the second level background */
ul.nav li.mas ul a.drop,
ul.nav li.mas ul a.drop:visited {
  background-image: none;
  background-color: transparent;
  color: #111;
  width: 240px;
  font-size: 10pt;
  height: 28px;
}
/* style the second level hover */
ul.nav li.mas ul a.drop:hover {
  background-image: none;
  background-color: transparent;
}
ul.nav li.mas ul :hover > a.drop {
  background-color: transparent;
  background-image: none;
  color: #fff;
}
/* hide the sub levels and give them a positon absolute so that they take up no room */
ul.nav ul {
  visibility: hidden;
  position: absolute;
  height: 0;
  top: 22px;
  left: 0;
  padding-bottom: 0px;
}
/* style the table so that it takes no ppart in the layout - required for IE to work */
#nav table {
  position: absolute;
  top: 0;
  left: 0;
}
/* style the second level links */
ul.nav li.mas ul a,
ul.nav li.mas ul a:visited {
  background-image: none;
  background-color: transparent;
  color: #fff;
  height: 14px;
  padding: 7px 10px;
  width: 220px;
  font-size: 10pt;
}
/* yet another hack for IE5.5 */
* html ul.nav ul a,
* html ul.nav ul a:visited {
  /*width:150px;
		w\idth:128px;*/

}
ul.nav li.mas ul a:hover {
  background-image: none;
  background-color: #fff;
  color: #8b3a34;
  text-decoration: none;
}
ul.nav li:hover ul,
ul.nav a:hover ul {
  visibility: visible;
}
/**** CONTENT ****/
#content {
  background-color: #eee;
  width: 640px;
  float: left;
  padding: 25px;
  z-index: 1;
}

/**** SIDEBAR ****/
#sidebar {
  width: 240px;
  float: right;
  margin-right: 10px;
  margin-top: 40px;
}
#sidebar .banners {
  margin-bottom: 18px;
  text-align: center;
}
#sidebar .banners img {
  margin-bottom: 18px;
  border: 1px solid #aaa;
  padding: 2px;
  background-color: #fff;
}
.entry .banners_certamenes {
  margin-top: 30px;
  overflow: hidden;
}
.banners_certamenes div {
  width: 206px;
  height: 200px;
  overflow: hidden;
  float: left;
  text-align: center;
  display: block;
  margin: 0px 10px;
  line-height: 18px;
  font-size: 9pt;
}
.entry .banners_certamenes div a.a_banner:hover {
  text-decoration: none;
  border: none;
  color: #9D0330;
}
/**** FOOTER ****/
#footer {
  clear: both;
  color: #fff;
  text-align: center;
  font-size: 8pt;
  background: url(../images/bg_footer.jpg) repeat-x;
  height: 20px;
  padding-top: 8px;
}

/**** CLEAR AND ALIGNMENT WP HACKS ****/
.right,
.alignright {
  display: block;
  float: right;
  margin: 10px 0px 10px 20px;
}
.left,
.alignleft {
  display: block;
  float: left;
  margin: 10px 20px 10px 0px;
}
.aligncenter {
  display: block;
  text-align: center;
  margin: 20px auto;
}
.clear {
  clear: both;
}
